@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ComputeYourself.Models.MotherBoard.MotherBoard>

@{
    ViewData["Title"] = "List of Motherboard";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Brand)</th>
                    <th>@Html.DisplayNameFor(model => model.Warranty)</th>
                    <th>@Html.DisplayNameFor(model => model.Rating)</th>
                    <th>@Html.DisplayNameFor(model => model.Socket)</th>
                    <th>@Html.DisplayNameFor(model => model.Chipset)</th>
                    <th>@Html.DisplayNameFor(model => model.Igpu)</th>
                    <th>@Html.DisplayNameFor(model => model.RAM)</th>
                    <th>@Html.DisplayNameFor(model => model.Frequency)</th>
                    <th>@Html.DisplayNameFor(model => model.MemorySockets)</th>
                    <th>@Html.DisplayNameFor(model => model.XMP)</th>
                    <th>@Html.DisplayNameFor(model => model.MaxMemory)</th>
                    <th>@Html.DisplayNameFor(model => model.CForSLISupport)</th>
                    <th>@Html.DisplayNameFor(model => model.Bluetooth)</th>
                    <th>@Html.DisplayNameFor(model => model.Lighting)</th>
                    <th>@Html.DisplayNameFor(model => model.Wifi)</th>
                    <th>@Html.DisplayNameFor(model => model.Windows11Support)</th>
                    <th>@Html.DisplayNameFor(model => model.LANPort)</th>
                    <th>@Html.DisplayNameFor(model => model.LanportsNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.PCIe16x)</th>
                    <th>@Html.DisplayNameFor(model => model.SATA3)</th>
                    <th>@Html.DisplayNameFor(model => model.M2)</th>
                    <th>@Html.DisplayNameFor(model => model.USB2)</th>
                    <th>@Html.DisplayNameFor(model => model.USB3)</th>
                    <th>@Html.DisplayNameFor(model => model.USB31)</th>
                    <th>@Html.DisplayNameFor(model => model.USBC)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Warranty)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Socket)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Chipset)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Igpu)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.RAM)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Frequency)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.MemorySockets)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.XMP)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.MaxMemory)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CForSLISupport)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Bluetooth)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Lighting)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Wifi)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Windows11Support)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.LANPort)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.LanportsNumber)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.PCIe16x)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.SATA3)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.M2)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.USB2)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.USB3)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.USB31)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.USBC)
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"> Delete</i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("_CreateItem", "MotherBoard")